.layout{
    height: 300px;
    width: 200px;
    margin-bottom: 2%;
    margin-right: 2.5%;
    position: relative;
    z-index:1;
    background-color: black;
}

.layout:before{
    content:"";
    position: absolute;
    z-index: -1;
    top:0;
    bottom:44%;
    left:0;
    right:0;
    background-color: orangered;
}
